.main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0;
    flex-grow: 1;
}

.main_title {
    font-weight: 700;
    padding: 0.3rem 1.2rem;
}

.main_docs,
.main_request,
.main_response {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    margin: 0.25rem;
    border: 0.1rem solid lightgray;
    border-radius: 0.5rem;
}

.main_docs {
    padding: 0.5rem 0.5rem;    
    display: flex;
    flex-direction: column;   
}

.main_request {
    display: flex;
    flex-direction: column;
}

.main_query {
    margin-bottom: 0.5rem;
}

.main_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid lightgray;
    height: 2.8rem;
}
textarea {
    height: 100%; 
    border-radius: 0.5rem;
}

.main_response {
    padding: 0.5rem 0.5rem;    
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 920px) {
    .main {
        flex-direction: column;
        padding: 0.3rem 0.5rem  ;
    }
}