.welcome {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  flex-grow: 1;
}
.welcome_devs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 100px;

  justify-content: center;
}
.dev {
  text-align: center;
}

@media screen and (max-width: 950px) {
  .welcome_devs {
    margin: 50px;
  }
  .welcome button {
    margin: 50px;
  }
}

@media (max-width: 690px) {
  .welcome_devs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 470px) {
  .welcome h1,
  .welcome h2 {
    font-size: medium;
  }
  .dev img {
    height: 75px;
  }
}

