.footer_app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 3rem;
    border-top: 0.0625rem solid #e9ecef;
}

.footer_app>h2 {
    margin: 0;
}

@media screen and (max-width: 460px) {
    .footer_app {
        flex-direction: column;
        height: unset;
    }
}