.header_app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid #e9ecef;
}

.header_logo {
    width: 2rem;
    margin: 0 0.5rem 0.3rem 0;
}

.header_app>h2 {
    margin: 0;
}

.header_buttons {
    display: flex;
    align-items: center;
}
.header_buttons > * {
    margin-right: 1rem;
}
.header_buttons :last-child {
    margin-right: 0;
}

.header_user {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.header_user > * {
    margin-right: 0.5rem;
}
.header_user :last-child {
    margin-right: 0;
}

@media  screen and (max-width: 580px) {
    .header_app {
        flex-direction: column;
    }
    .header_sign_button {
        margin-top: 0.5rem;
    }
    .header_buttons {
        margin-top: 0.5rem;
        flex-direction: column;
    }
}